# My bookshell

## title 1

this is a test

this is anoher text

In [ ]:
print ('Hello World')

In [ ]:
pip list

In [ ]:
!pip list

In [ ]:
!pip freeze

In [ ]:
%lsmagic

In [ ]:
%pwd

In [ ]:
%ls

In [ ]:
%ls -la

In [ ]:
%matplotlib inline

In [1]:
%%timeit
square_evens =[n*n for n in range(10000)]

502 µs ± 1.41 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [5]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(10,5))
df

          0         1         2         3         4
0 -0.548642 -0.180311 -0.605714  0.967999 -0.859088
1 -0.122340 -0.075937  0.685342  0.436893  2.237216
2  0.679157  1.110310  0.402087 -2.294163 -1.201339
3 -1.082732 -1.714237  0.814485  0.221296 -0.774641
4 -0.258033  0.684962 -0.001456  0.202154 -0.933045
5  1.340412  1.044362 -1.568013  0.889990 -0.891296
6 -0.354152 -1.289937  0.067434 -1.641022  0.994033
7  0.697746 -1.403834  0.639040 -0.481228 -1.335693
8 -0.529477 -0.270161  0.722540 -0.245475 -0.122475
9  1.376984  0.919468 -0.662302  0.487817 -1.688130

In [6]:
df.head()

          0         1         2         3         4
0 -0.548642 -0.180311 -0.605714  0.967999 -0.859088
1 -0.122340 -0.075937  0.685342  0.436893  2.237216
2  0.679157  1.110310  0.402087 -2.294163 -1.201339
3 -1.082732 -1.714237  0.814485  0.221296 -0.774641
4 -0.258033  0.684962 -0.001456  0.202154 -0.933045